<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.tomholland.bushidocardsapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bushido</name>
    <description>Unofficial Bushido Cards app for iOS</description>
    <author email="bushidocardsapp@gmail.com" href="http://twitter.com/bushidocardsapp">Bushido App Support</author>
    <content src="app.html" />
    <preference name="DisallowOverscroll" value="true" />
</widget>