.bar-nav {
	padding: 0;
}

#back {
	display: none;
	padding: 10px;
}

.title {
	display: table;
	table-layout: fixed;
	padding: 0 50px;
	margin: 0;
	line-height: 17px;
	white-space: normal;
}

#title {
	display: table-cell;
	height: 44px;
	vertical-align: middle;
	word-wrap: break-word;
}

.bar-nav~.content,
.bar-tab~.content {
	padding: 0;
}

.content {
	margin: 44px 0 50px 0;
	overflow: hidden !important;
	-webkit-overflow-scrolling: none;
}

.content > * {
	-webkit-transform: none;
	transform: none;
}

.content-view {
	display: none;
	background: #fff;
}

.content-padded {
	margin: 0;
}

.content-view .content-view-scroll-wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.content-view.content-padded .content-view-scroll-wrapper {
	padding: 10px;
}

.content-view .content-view-scroll-wrapper .table-view li {
	-webkit-transform: translateZ(0);
}

.content-view.animatable {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
}

.content-view.animation {
	-webkit-transition: left .3s ease-in-out;
}

.content .table-view {
	margin-bottom: 0;
}

.content .table-view .table-view-cell {
	background-position: 0 100%; /* Ratchet iOS theme bug fix */
}

.content .table-view .media-body {
	padding-top: 10px;
}

.content .table-view-cell>a:not(.btn) {
	-webkit-transition: opacity .3s;
}

.content .table-view-cell>a:not(.btn):active {
	background-color: inherit;
	opacity: .4;
}

.faction-image {
	width: 42px;
	height: 42px;
}

.content .slider,
.content .slider .slide-group {
	height: 100%; /* not set in Ratchet for some reasons... */
	background: #000;
}

.content .slider .slide {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.scenario h5 {
	border-bottom: 1px solid #999;
	padding: 5px 0;
	font-weight: bold;
}

.scenario .victory-conditions .points {
	width: 15%;
	vertical-align: top;
}

.scenario .victory-conditions .condition {
	width: 85%;
}

#addwarband,
#addcharactertowarband,
#randomscenario,
#editwarbandcharacter,
#editwarbandevent,
#editwarbandterrain {
	width: auto;
	margin: 0 5px 6px 5px;
	padding: 12px 0;
	font-size: 15px;
}

#scenarios,
#warbands,
#warband {
	padding-top: 6px;
}

.btn.scenario-plan {
	margin-bottom: 10px;
}

.scenario-image {
	width: 100%;
	border: 1px solid #ccc;
}

.segmented-control {
	margin: 5px;
}

#warbands .table-view-cell {
	padding: 0;
}

#warbands .table-view-cell .change-content-view:active {
	opacity: .4;
}

#warbands .wrapper {
	padding: 11px 40px 22px 15px;
	transition: -webkit-transform .2s ease-in-out;
}

#warbandcharacters .wrapper,
#warbandevents .wrapper,
#warbandterrain .wrapper {
	transition: -webkit-transform .2s ease-in-out;
}

#warbands .wrapper.offset,
#warbandcharacters .wrapper.offset,
#warbandevents .wrapper.offset,
#warbandterrain .wrapper.offset {
	-webkit-transform: translateX(-140px);
}

#warbands .edit,
#warbandcharacters .edit,
#warbandevents .edit,
#warbandterrain .edit {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 70px;
	background: blue;
	color: #fff;
}

#warbands .delete,
#warbandcharacters .delete,
#warbandevents .delete,
#warbandterrain .delete {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 70px;
	background: red;
	color: #fff;
}

#warbands .edit:active,
#warbands .delete:active,
#warbandcharacters .edit:active,
#warbandcharacters .delete:active,
#warbandevents .edit:active,
#warbandevents .delete:active,
#warbandterrain .edit:active,
#warbandterrain .delete:active {
	opacity: .4;
}

#warbands .edit .icon-wrapper,
#warbands .delete .icon-wrapper,
#warbandcharacters .edit .icon-wrapper,
#warbandcharacters .delete .icon-wrapper,
#warbandevents .edit .icon-wrapper,
#warbandevents .delete .icon-wrapper
#warbandterrain .edit .icon-wrapper,
#warbandterrain .delete .icon-wrapper {
	display: table;
	height: 100%;
	width: 70px;
}

#warbands .edit .icon,
#warbands .delete .icon,
#warbandcharacters .edit .icon,
#warbandcharacters .delete .icon,
#warbandevents .edit .icon,
#warbandevents .delete .icon,
#warbandterrain .edit .icon,
#warbandterrain .delete .icon {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

#warbands .navigate-right {
	display: block;
}

#warbands .media-body {
	color: #000;
}