/* Header */

.bar-nav {
	padding: 0;
}

.bar-nav .icon {
	display: none;
	padding: 10px;
}

.title {
	display: table;
	table-layout: fixed;
	padding: 0 50px;
	margin: 0;
	line-height: 17px;
	white-space: normal;
}

#title {
	display: table-cell;
	height: 44px;
	vertical-align: middle;
	word-wrap: break-word;
}

/* Content */

.bar-nav~.content,
.bar-tab~.content {
	padding: 0;
}

.content {
	margin: 44px 0 50px 0;
	overflow: hidden !important;
	-webkit-overflow-scrolling: none;
}

.content > * {
	-webkit-transform: none;
	transform: none;
}

.content-view {
	display: none;
	background: #fff;
}

.content-padded {
	margin: 0;
}

.content-view .content-view-scroll-wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.content-view.content-padded .content-view-scroll-wrapper {
	padding: 10px;
}

.content-view .content-view-scroll-wrapper .table-view li {
	-webkit-transform: translateZ(0);
}

.content-view.animatable {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
}

.content-view.animation {
	-webkit-transition: left .3s ease-in-out;
}

.content .table-view {
	margin-bottom: 0;
}

.content .table-view .table-view-cell {
	background-position: 0 100%;
}

.content .table-view-cell>a:not(.btn) {
	-webkit-transition: opacity .3s;
}

.content .table-view-cell>a:not(.btn):active {
	background-color: inherit;
	opacity: .4;
}

.content-items-list {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #c8c7cc;
}

.content-items-list li {
	list-style: none;
	display: block;
	border-top: 1px solid #c8c7cc;
	width: 100%;
	overflow: hidden;
}

.content-items-list .listing-block {
	display: table;
	width: 100%;
	padding: 10px;
	-webkit-transition: opacity .3s;
}

.content-items-list .listing-block:active {
	opacity: .4;
}

.content-items-list .listing-block .cell {
	display: table-cell;
	vertical-align: middle;
}

.content-items-list .listing-block .cell.image {
	width: 52px;
	text-align: left;
}

.content-items-list .listing-block .cell.image img {
	display: block;
	width: 42px;
	height: 42px;
}

.content-items-list .listing-block .cell.name {
	color: #000;
	text-align: left;
}

.content-items-list .listing-block .cell.icon {
	color: #bbb;
	width: 30px;
	text-align: right;
}

/* Factions */

.faction-cards.slider,
.faction-cards.slider .slide-group {
	height: 100%;
	background: #000;
}

.faction-cards.slider .slide {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

/* Warbands */

.segmented-control {
	margin: 5px;
}

.content-items-list .swipe-wrapper {
	transition: -webkit-transform .2s ease-in-out;
}

.content-items-list .swipe-wrapper.offset {
	-webkit-transform: translateX(-140px);
}

.content-items-list .action-block {
	display: block;
	position: absolute;
	height: 100%;
	width: 70px;
	-webkit-transition: opacity .3s;
}

.content-items-list .action-block.edit {
	color: #fff;
	background: #007aff;
}

.content-items-list .action-block.delete {
	color: #fff;
	background: #ff3b30;
}

.content-items-list .action-block:active {
	opacity: .4;
}

.content-items-list .action-block .icon-wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

.content-items-list .action-block .icon {
	display: table-cell;
	height: 100%;
	font-size: 30px;
	vertical-align: middle;
	text-align: center;
}

#warbandcharacter {
	padding-top: 6px;
}

#warbandcharacter .heading {
	margin: 0 5px;
	text-align: center;
}

#warbandcharacter input[type=search] {
	text-align: left;
	margin: 6px 0;
}

/* Scenarios */

#scenarios {
	padding-top: 6px;
}

#randomscenario {
	width: auto;
	margin: 0 5px 6px 5px;
	padding: 12px 0;
	font-size: 15px;
}

.scenario h5 {
	border-bottom: 1px solid #999;
	padding: 5px 0;
	font-weight: bold;
}

.scenario .victory-conditions .points {
	width: 15%;
	vertical-align: top;
}

.scenario .victory-conditions .condition {
	width: 85%;
}

.btn.scenario-plan {
	margin-bottom: 10px;
}

.scenario-image {
	width: 100%;
	border: 1px solid #ccc;
}